name: Deployment

on:
  workflow_run:
    workflows: ["Docker Build und Push"]
    branches: [main, master]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && secrets.SERVER_HOST != null && secrets.SERVER_USERNAME != null && secrets.SERVER_SSH_KEY != null }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /pfad/zum/software-hub
            docker-compose pull
            docker-compose up -d
            docker system prune -af
